body {
  padding: .5rem .5rem 0 .5rem;
  min-width: 250px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

input,
select {
  width: 100%;
}

button {
  margin-top: .5rem;
  text-align: center;
}

.card {
  display: none;
}
.card .update {
  display: inline-block;
}
.card .create {
  display: none;
}

.card.active {
  display: block;
}

.card[data-mode="create"] .update {
  display: none;
}

.card[data-mode="create"] .create {
  display: inline-block;
}
